*{
    margin: 0px;
    padding: 0px;
    text-align: center;

}
h1{
    background-color: #081b31;
    color:white;
    height: 5rem;
    line-height: 5rem;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;
}
.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.hv:hover{
    background-color: rgb(49, 214, 159);
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.1);
}
.score-card{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:4rem;
    margin-top: 3rem;
}
#user-score, #comp-score{
    font-size: 4em;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    padding:1rem;
    background-color: #081b31;
    color:white;
    font-size:2rem;
    display: inline;
    border-radius: 1rem;
}
.reset-game{
    margin-top: 2rem;
    height: 100px;
}
#reset{
    padding:1rem;
    background-color: #081b31;
    color: white;
    font-size: 1.5rem;
    border-radius: 5rem;
}